* {
    box-sizing: border-box;
}

body {
    background: #aa909e;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: auto;
    background: #ffffff;
    text-align: center;
}

.main_text {
    font-size:40px;
    font-weight: 900;
    line-height: 40px;
    text-align: center;
    letter-spacing: 3px;
    color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    color: black;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        color: #000000;
    }
}

.card {
    border: 1px solid #aa909b;
    margin: 10px;
    color: #000000;
}

.form_control {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: center;
}

.form_control input[type="text"] {
    color: black;
    height: 60px;
    width: 450px;
    border: 1px solid #eb92af;
    padding-left: 15px;
    margin: 6px;
    font-size: 17px;
    background: whitesmoke;
}

.error {
    background-color: black;
    padding: 20px 30px;
    color: #eb92af;
    font-size: 17px;

    line-height: 20px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form_name {
    margin-bottom: 25px;
}

.sub {
    display: flex;
    justify-content: center;
}

.sub input[type="submit"] {
    width: 450px;
    background: whitesmoke;
    height: 60px;
    color: black;
    border-radius: 1 px;
    border-color: #eb92af;
    font-size: 17px;

}

.completed{
    text-decoration: line-through;
}